/*
@font-face {
  font-family: "LucideIcons";
  src: url(https://unpkg.com/lucide-static@latest/font/Lucide.ttf) format("truetype");
}*/

body {
  background-color: #eec29e;
  font-family: "Crimson Text", serif;
  font-weight: 400;
}

main {
  display: flex;
  margin: 0 auto;
  width: 33vw;
  height: 80vh;
  background-image: url(images/background.jpg);
  background-size: cover;
  border: 1px solid #2d1913;
  overflow: hidden;
}

h1,
p {
  text-align: center;
}

.instructions {
  font-size: 1.3em;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* width: 20%; */
  background-color: white;
  transform: translateX(-85%);
  cursor: grab;
  /* transition: transform 0.5s ease-in-out; */
}
.sidebar:active {
  cursor: grabbing;
}

.content {
  visibility: hidden;
  display: flex;
  flex-direction: column;
}
.content img {
  padding-left: 0;
  margin: 0;
  align-self: center;
  width: 50%;
  transition: transform 0.5s ease-in-out;
}
.content p {
  font-size: 1.3em;
  margin: 0;
}

svg.lucide {
  height: 2em;
  width: 2em;
  stroke-width: 1px;
}

svg[data-lucide^="chevrons-"] {
  stroke: #2d1913;
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
}

svg[data-lucide="chevron-up"],
svg[data-lucide="chevron-down"] {
  height: 4em;
  width: 4em;
  stroke-width: 0.5px;
  stroke: #2d1913;
  position: relative;
  transform: translateX(-50%);
}

svg[data-lucide="chevron-up"] {
  top: 10%;
  left: 50%;
}
svg[data-lucide="chevron-down"] {
  top: 75%;
  left: 50%;
}

button {
  outline: none;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-weight: bold;
  font-size: 0.9em;
  border: none;
  padding: 0.5em 2.5em;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #2d1913;
  background: transparent;
}
