body {
  background-color: #eec29e;
  font-family: "Crimson Text", serif;
  font-weight: 400;
}

main {
  display: flex;
  margin: 0 auto;
  width: 33vw;
  height: 80vh;
  background-image: url(images/background.jpg);
  background-size: cover;
  border: 1px solid #2d1913;
  overflow: hidden;
}

h1,
p {
  text-align: center;
}

.instructions {
  font-size: 1.3em;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  /* width: 20%; */
  background-color: white;
  transform: translateX(-80%);
  /* transition: transform 0.5s ease-in-out; */
}

.content {
  visibility: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.content img {
  /* position: relative; */
  /* top: 4em; */
  width: 100%;
}

svg.lucide {
  height: 2em;
  width: 2em;
  stroke-width: 1px;
}

svg[data-lucide="chevrons-right"] {
  stroke: red;
}

button {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-weight: bold;
  font-size: 0.9em;
  border: none;
  padding: 1em 3em;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #2d1913;
  background-color: #eec29e;
}
