/*
@font-face {
  font-family: "LucideIcons";
  src: url(https://unpkg.com/lucide-static@latest/font/Lucide.ttf) format("truetype");
}*/

body {
  background-color: white;
  font-family: "Crimson Text", serif;
  font-weight: 400;
}

main {
  display: flex;
  margin: 0 auto;
  width: 33vw;
  height: 80vh;
  background-image: url(images/background.jpg);
  background-size: cover;
  border: 1px solid #2d1913;
  overflow: hidden;
}
h1 {
  letter-spacing: 0.05em;
}
h1,
p {
  text-align: center;
}

.instructions {
  font-size: 1.5em;
}
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  transform: translateX(-85%);
}
.sidebar .drag {
  background-color: #f9d8be;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15%;
  height: 100%;
  cursor: grab;
}
.sidebar .drag:active {
  cursor: grabbing;
}

.content {
  /* visibility: hidden; */
  display: flex;
  flex-direction: column;
}
.content img {
  padding-left: 0;
  margin: 0;
  align-self: center;
  width: 40%;
}
.content p {
  font-size: 1.3em;
  margin: 0;
}

svg.lucide {
  height: 2em;
  width: 2em;
  stroke-width: 1px;
  stroke: #2d1913;
}

svg[data-lucide^="chevrons-"] {
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
}

svg[data-lucide="chevron-up"],
svg[data-lucide="chevron-down"] {
  height: 4em;
  width: 4em;
  stroke-width: 0.025em;
  display: flex;
  align-self: center;
  margin: 1.5em 0;
}
a {
  align-self: center;
}
button {
  outline: none;
  border: none;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-weight: bold;
  font-size: 0.9em;
  margin-top: 5em;
  letter-spacing: 0.05em;
  padding: 0.5em 2.5em;
  border: 1px solid #2d1913;
  background: transparent;
}
